<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ElogicCoMagentoImport" xsi:type="object">ElogicCo\MagentoImport\Console\DefaultImport</item>
            </argument>
        </arguments>
    </type>

    <preference for="ElogicCo\MagentoImport\Api\DataProvider\DataProviderPoolInterface"
                type="ElogicCo\MagentoImport\Model\DataProvider\DataProviderPool" />
    <type name="ElogicCo\MagentoImport\Api\DataProvider\DataProviderPoolInterface">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="database" xsi:type="object">ElogicCo\MagentoImport\Model\Database\DbDataProvider</item>
                <item name="csv" xsi:type="object">ElogicCo\MagentoImport\Model\Csv\CsvDataProvider</item>
            </argument>
        </arguments>
    </type>

    <preference for="ElogicCo\MagentoImport\Api\DataImporter\DataImporterPoolInterface"
                type="ElogicCo\MagentoImport\Model\DataImporter\DataImporterPool" />
    <type name="ElogicCo\MagentoImport\Api\DataImporter\DataImporterPoolInterface">
        <arguments>
            <argument name="dataImporters" xsi:type="array">
                <item name="database_remember" xsi:type="string">ElogicCo\MagentoImport\Model\Database\DataImporter\DbImporterRemember</item>
                <item name="database" xsi:type="string">ElogicCo\MagentoImport\Model\Database\DataImporter\DbImporterBase</item>
<!--                @todo create csv data importer with remembering-->
<!--                <item name="csv_remember" xsi:type="string">ElogicCo\MagentoImport\Model\Csv\DataImporter\CsvImporterRemember</item>-->
                <item name="csv_remember" xsi:type="string">ElogicCo\MagentoImport\Model\Csv\DataImporter\CsvImporterBase</item>
                <item name="csv" xsi:type="string">ElogicCo\MagentoImport\Model\Csv\DataImporter\CsvImporterBase</item>
            </argument>
        </arguments>
    </type>

    <type name="ElogicCo\MagentoImport\Model\Solver\StorageSolverPool">
        <arguments>
            <argument name="solvers" xsi:type="array">
<!--                @todo-->
<!--                <item name="database" xsi:type="string"></item>-->
                <item name="csv" xsi:type="object">ElogicCo\MagentoImport\Model\Solver\CsvStorageSolver</item>
            </argument>
        </arguments>
    </type>

<!--    <type name="ElogicCo\MagentoImport\Api\PoolInterface">-->
<!--        <arguments>-->
<!--            <argument name="type" xsi:type="array">-->
<!--                <item name="database" xsi:type="array">-->
<!--                    <item name="dataImporter" xsi:type="string">ElogicCo\MagentoImport\Model\Database\DataImporter\DbImporterRemember</item>-->
<!--                    <item name="dataProvider" xsi:type="string">ElogicCo\MagentoImport\Model\DataProvider\DbDataProvider</item>-->
<!--                </item>-->
<!--                <item name="csv" xsi:type="array">-->
<!--                    <item name="dataImporter" xsi:type="string">ElogicCo\MagentoImport\Model\DataImporter\CsvDataImporter</item>-->
<!--                    <item name="dataProvider" xsi:type="string">ElogicCo\MagentoImport\Model\DataProvider\CsvDataProvider</item>-->
<!--                    <item name="solver" xsi:type="string">ElogicCo\MagentoImport\Model\Solver\CsvStorageSolver</item>-->
<!--                </item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->

    <type name="ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberReplace">
        <arguments>
            <argument name="rememberedEntitiesStorageType" xsi:type="const">ElogicCo\MagentoImport\Model\Csv\DataImporter\CsvImporterBase::TYPE</argument>
            <argument name="rememberedEntitiesStoragePath" xsi:type="const">ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberReplace::IMPORT_STATE_FILE_NAME</argument>
        </arguments>
    </type>

    <type name="ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberWhole">
        <arguments>
            <argument name="rememberedEntitiesStorageType" xsi:type="const">ElogicCo\MagentoImport\Model\Csv\DataImporter\CsvImporterBase::TYPE</argument>
            <argument name="rememberedEntitiesStoragePath" xsi:type="const">ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberWhole::IMPORT_STATE_FILE_NAME</argument>
        </arguments>
    </type>

    <preference for="ElogicCo\MagentoImport\Api\Data\DataImportInfoInterface"
                type="ElogicCo\MagentoImport\Model\Data\DataImportInfo" />

    <preference for="ElogicCo\MagentoImport\Api\Extensions\RememberProcessor\RememberProcessorPoolInterface"
                type="ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberProcessorPool" />

    <type name="ElogicCo\MagentoImport\Api\Extensions\RememberProcessor\RememberProcessorPoolInterface">
        <arguments>
            <argument name="rememberProcessors" xsi:type="array">
                <item name="remember-all-failed-entities" xsi:type="object">ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberWhole</item>
                <item name="remember-with-replace" xsi:type="object">ElogicCo\MagentoImport\Model\Extensions\RememberProcessor\RememberReplace</item>
            </argument>
            <argument name="defaultProcessorMode" xsi:type="string">remember-with-replace</argument>
        </arguments>
    </type>

    <preference for="ElogicCo\MagentoImport\Api\Extensions\ApplyObserverInterface"
                type="ElogicCo\MagentoImport\Model\Extensions\ApplyObserver" />

    <preference for="ElogicCo\MagentoImport\Api\Data\RememberedEntityInterface"
                type="ElogicCo\MagentoImport\Model\Data\RememberedEntity" />
    <preference for="ElogicCo\MagentoImport\Api\Data\RememberedEntitySearchResultInterface"
                type="ElogicCo\MagentoImport\Model\Data\RememberedEntitySearchResults" />
    <preference for="ElogicCo\MagentoImport\Api\RememberedEntityRepositoryInterface"
                type="ElogicCo\MagentoImport\Model\RememberedEntityRepository" />
</config>
